/* load font for the site */
@font-face {
	font-family: Roboto;
	src: url('../font/Roboto-Regular.ttf');
}

/* common page styling */
* {
	box-sizing: border-box;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

/* set default style for the body of each page */
body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: Roboto, Arial, Helvetica, sans-serif;
}

/* Set colour for main h1 headings to white, with padding on left */
h1 {
	color: white;
	padding-left: .5em;
}
/* Set colour for secondary h2 headings */
h2 {
	color: #0b74b5;
}
h1,
h2 {
	padding-left: .5em;
}
/* set colour and margin for paragraphs */
p {
	color: white;
	margin: 0;
	padding: 0 .5em;
}

/* set size and position of logo */
#logo {
	max-width: 120px;
	max-height: 120px;
	width: auto;
	height: auto;
	padding: 0;
	margin-bottom: -5px;
}

/* setup the nav bar as a flex item, within the grid area */
nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	grid-area: navi;
	font-size: 1.3em;
	background-color: #0e94e8;
}

/* set colour of nav bar links */
.navigation-links a {
	color: white;
	padding: 1em 1em;
	text-decoration: none;
}

/* set colour and style of nav bar links when user interacts with them */
.navigation-links a:active,
.navigation-links a:hover {
	color: #55b2ec;
	border-color: hsla(246, 85%, 43%, 0.3);  /* dodgerBlue; */
	box-shadow: 0 0 8px 0 hsla(246, 85%, 43%, 0.3);  /* dodgerBlue; */
	background-color: white;
}

/* set format of the search bar */
input {
	width: 200px;
	height: 40px;
	border: 2px solid #aaa;
	border-radius: 4px;
	margin: 8px 0;
	outline: none;
	padding: 8px;
	box-sizing: border-box;
	transition: 0.3s;
	max-width: 100%;
}

/* animate border around search bar */
input:focus {
	border-color: hsla(246, 85%, 43%, 0.3);  /* dodgerBlue; */
	box-shadow: 0 0 8px 0 hsla(246, 85%, 43%, 0.3);  /* dodgerBlue; */
}

/* place search image icon inside search input box */
#searchBox {
	grid-area: srch;
    background: white url(../img/search-sm.png) 4px no-repeat;
	padding-left: 46px;
}

/* format buttons for language selection */
.lang-dropdown {
	display: inline-block;
	position: relative;
}

/* ensure language buttons z-index is set so they are on top of other items */
.lang-dropdown-content {
	display: none;
	position: absolute;
	z-index: 1;
}

/* only show language buttons when selected by user */
.lang-dropdown:hover .lang-dropdown-content {
	display: block;
}

/* set the size of the language button flags */
.flag {
	max-width: 30px;
	max-height: 30px;
	width: auto;
	height: auto;
}

/* set the top of the page background image, ensure its z-index keeps it behind other items */
#background {
	background-image: url('../img/HeaderBubbles.jpg');
	background-size: cover;
	background-position: 0 0;
	grid-area: info;
	margin-top: -10px;
	margin-bottom: -10px;
}

/* set the size of the background pic */
.bgPic {
	width: 100%;
	height: 150px;
}

/* set no margin around the info/COVID message */
.miscInfoTitle {
	margin: 0;
}

/* set style of info/COVID message, ensure its z-index keeps it above background image */
#miscInfo {
	z-index: +1;
	background-color: hsl(191, 71%, 52%);
	color: white;
	font-size: 1.3em;
	font-weight: bold;
	grid-area: info;
	padding: 5px;
	margin-left: 40%;
	margin-right: 5%;
	animation: pulse 3s infinite;
}

/* setup animation around info/COVID box */
@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.6);
	}
	50% {
		box-shadow: 0 0 0 10px rgba(255, 0, 0, 0.1);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(44, 186, 219, 0);
	}
}

/* set animation around all buttons */
.button:hover {
	border-color: hsla(246, 85%, 43%, 0.3);  /* dodgerBlue; */
	box-shadow: 0 0 8px 0 hsla(246, 85%, 43%, 0.3);  /* dodgerBlue; */
	cursor: pointer;
}

/* set common style of all buttons */
.button {
	border-radius: 25px;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

/* set styles of different types of buttons */
.button-sm {
	background-color: #0e94e8;
	padding: 5px 5px;
}
.button0 {
	background-color: #0e94e8;
}
.button1 {
	background-color: #a23939;
}
.button2 {
	background-color: #0d2d36;
}

/* setup the footer as a flex item, within the grid area */
footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	grid-area: foot;
	font-size: 1.3em;
	background-color: #0e94e8;
}

/* ensure the language icon keeps to the left of the page */
footer div:last-child {
	margin-left: auto;
}

/* set default styling for all img elements */
img {
	padding: 5px 5px;
	max-width: 100%;
}

/* set styling for social media logos in footer */
.social-media-logo {
	display: block;
	max-width: 50px;
	max-height: 50px;
	width: auto;
	height: auto;
}

/* set small font for reference info in footer */
.references {
	font-size: .5em;
}

/* index page styling */
/**********************/

/* setup the image carousel as a flex item, within the grid area */
#carousel {
	grid-area: crsl;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
}

/* display next/prev carousel buttons on the right/left sides of the carousel images, over them */
#carousel button {
	position: absolute;
	z-index: 1;
}
#carousel button:first-child {
	left: 30px;
}
#carousel button:last-child {
	right: 30px;
}
/* set styling for the carousel images */
#carousel img {
	max-width: 100%;
	height: 500px;
	margin: 0 auto;
	padding: 0;
}

/* set style for special events elements */
#specialEventsTitle {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	background-color: #55b2ec;
	color: white;
	grid-area: spct;
	padding: 5px;
	margin-bottom: -10px;
}

#specialEvents {
	background-color: #55b2ec;
	color: white;
	grid-area: spcl;
	padding: 5px;
}

#specialEvents a {
	color: white;
}

/* set style for tickets and accommodation buttons and locate them in the grid */
#buyTickets {
	justify-self: left;
	grid-area: bttn;
}
#buyTickets a {
	padding-left: 58px;
	background-image: url('../img/ticket.svg');
	background-position: 13px 5px;
	background-repeat: no-repeat;
	padding-right: 17px;
}

#bookAccommodation {
	justify-self: right;
	grid-area: bttn;
}

/* set style for annual pass information */
#annualPass {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	background-color: #55b2ec;
	color: white;
	grid-area: pass;
	padding: 5px;
	max-width: 100%;
}
#annualPass a:visited,
#annualPass a {
	text-decoration: none;
	color: inherit;
}
#annualPass img {
	margin-left: 200px;
}

/* set style for social media pictures */
#socialMediaPhotos {
	background-color: #55b2ec;
	color: white;
	grid-area: smph;
	padding: 5px;
}
.smPic {
	max-height: 300px;
}

/* attractions page styling */
/****************************/

/* set style for the attractions filer items */
#attractionsFilterContainer {
	background-color: #55b2ec;
	grid-area: atfc;
}
#attractionsFilterContainer #buyTickets {
	display: inline-block;
	float: right;
	grid-area: unset;
	margin: 3em 5em 0 0;
}
#attractionsFilter {
	width: 75%;
	text-align: center;
	display: inline-block;
	color: #f2f2f2;
	padding-bottom: 1em;
}
#attractionsFilter .filter {
	width: 30%;
	display: inline-block;
	line-height: 1.5em;
	background-position: center 0;
	background-size: 98px;
	background-repeat: no-repeat;
	padding-top: 5.5em;
}
#attractionsFilter .filter-type {
	background-image: url('../img/filter_type.svg');
}
#attractionsFilter .filter-age {
	background-image: url('../img/filter_age.svg');
}
#attractionsFilter .filter-intensity {
	background-image: url('../img/filter_intensity.svg');
}
#attractionsFilter .filter label {
	display: block;
}

/* add style for the attractions images, and set them in grid area */
#attractions {
	grid-area: atrs;
	text-align: center;
}
.attraction {
	background-size: cover;
	background-position: 0 0;
	text-align: left;
	margin: 0 .5em 1em 0;
	font-size: 18px;
	display: inline-block;
	height: 15em;
	float: left;
	line-height: 1.5em;
	width: 24%;
	overflow: hidden;
}
.attraction h2 {
	margin: 0;
	padding: .5em;
	color: white;
	text-shadow: rgba(10,10,10,.8) -1px 1px;
}
.attraction p {
	padding: .5em;
	height: 100%;
	font-size: 1.2em;
	line-height: 1.4em;
	text-shadow: rgba(10,10,10,.8) -1px 1px;
	visibility: hidden;
}

/* show attractions descriptive text when hovering over image */
.attraction:hover p {
	visibility: visible;
}
.attraction h2,
.attraction:hover p {
    background: rgba(0, 0, 0, .15);
}

/* accommodation page styling */
/****************************/

/* set style for accommodation info input header, and place in grid area */
.bookingHeader {
	grid-area: bhdr;
	background-color: #55b2ec;
	color: white;
	padding: 5px;
}

/* set style for list of hotels, and place in grid area */
.accommodationListings {
	grid-area: accm;
	/* background-color: #55B2EC; */
	color: white;
	padding: 5px;
}
/* use flex to display hotel information */
.accommodation {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	background-color: #55b2ec;
	padding: 5px;
	margin: 5px;
}
.hotelPic {
	max-width: 300px;
	max-height: 300px;
	width: auto;
	height: auto;
}
.accommodationFeatures {
	margin-top: 60px;
	margin-left: 20px;
	text-align: left;
}
.accommodationPrice {
	margin-left: auto;
	padding: 5px;
	text-align: center;
}

/* set style for booking input elements */
.bookingHeader .header,
.bookingHeader .filters,
.bookingHeader .filters .filter .filter-label,
.bookingHeader .filters .filter .filter-input {
	display: inline-block;
	vertical-align: middle;
}
.bookingHeader .filters .filter .filter-label {
	padding-top: 1em;
}
.bookingHeader .filters .filter {
	display: inline-block;
	margin-right: 2em;
	padding: 0 2em;
	vertical-align: top;
}
.bookingHeader .filters .filter .filter-header {
	padding: 1em 0.9em;
	border-bottom: 1px solid lightgray;
	font-size: 1.2em;
}
.bookingHeader .filters .filter .filter-label label,
.bookingHeader .filters .filter .filter-input input {
	display: block;
	line-height: 3em;
	padding: 0 1em;
}
.bookingHeader .filters .filter .filter-label label {
	background-repeat: no-repeat;
	background-position-y: center;
}
.bookingHeader .filters .filter .filter-label label.filter-adults {
	background-image: url('../img/accommodation_filter_adults.svg');
	padding-left: 40px;
	background-position-x: 12px;
}
.bookingHeader .filters .filter .filter-label label.filter-children {
	background-image: url('../img/accommodation_filter_children.svg');
	padding-left: 40px;
	background-position-x: 0;
}
#guests-handicapped {
	height: 23px;
	width: 23px;
	margin-top: 23px;
	border-bottom: 1px solid lightgray;
	font-size: 1.2em;
}
.bookingHeader .filters .submit {
	display: inline-block;
	margin: 4em 0 0 0;
	vertical-align: top;
}
.bookingHeader .filters .submit p {
	line-height: 1.4em;
}
.bookingHeader .filters .submit button {
	margin-top: 1em;
}

/* grids */
/*********/

/* all pages have their own grid 
   - they have the first two rows for nav bar and info/covid message and the last footer row in common */

/* grid layout for index page */
.grid-container-index {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas:
		'navi navi navi'
		'info info info'
		'crsl crsl crsl'
		'.... bttn ....'
		'spct pass pass'
		'spcl smph smph'
		'foot foot foot';
	grid-gap: 10px 10px;
	padding: 10px;
	background-color: white;
}

/* grid layout for attractions page */
.grid-container-attractions {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas:
		'navi navi navi'
		'info info info'
		'atfc atfc atfc'
		'atrs atrs atrs'
		'foot foot foot';
	grid-gap: 10px 10px;
	padding: 10px;
	background-color: white;
}

/* grid layout for accommodations page */
.grid-container-accommodation {
	display: grid;
	grid-template-columns: 1fr 6fr 1fr;
	grid-template-areas:
		'navi navi navi'
		'info info info'
		'bhdr bhdr bhdr'
		'.... accm ....'
		'foot foot foot';
	grid-gap: 10px 10px;
	padding: 10px;
	background-color: white;
}
