/* common page styling */

@font-face { font-family: Roboto; src: url('../font/Roboto-Regular.ttf'); } 

* {
	box-sizing: border-box;

	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	color: white;
}
h2 {
	color: #0B74B5;
}
p {
	color: white;
	margin: 0px;
}

nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: no-wrap;
	grid-area: navi;
	font-size: 1.3em;
	background-color: #0E94E8;
}

#logo {
	max-width: 100px;
	max-height: 100px;
	width: auto;
	height: auto;
}

.bar a {
	color: white;
	padding: 1em 1em;
	text-decoration: none;
}

.bar a:hover {
	color: #55B2EC;
	border-color: dodgerBlue;
	box-shadow: 0 0 1em 0 dodgerBlue;
	background-color: white;
}

input {
	width: 200px;
	height: 40px;
	border: 2px solid #aaa;
	border-radius: 4px;
	margin: 8px 0;
	outline: none;
	padding: 8px;
	box-sizing: border-box;
	transition: 0.3s;
	max-width: 100%;
}

input:focus {
	border-color: dodgerBlue;
	box-shadow: 0 0 8px 0 dodgerBlue;
}

#searchBox {
	grid-area: srch;
	background: white url(../img/search-sm.png) left no-repeat;
	padding-left: 40px;
}

.lang-dropdown {
	display: inline-block;
	position: relative;
}

.lang-dropdown-content {
	display: none;
	position: absolute;
	z-index: 1;
}

.lang-dropdown:hover .lang-dropdown-content {
	display: block;
}

.flag {
	max-width: 30px;
	max-height: 30px;
	width: auto;
	height: auto;
}

#bkgrnd {
	grid-area: info;
	z-index: 0;
}

.bgPic {
	width: 100%;
	height: 100px;
}

#miscInfo {

	z-index: +1;

	background-color: hsl(191, 71%, 52%);
	color: white;
	font-size: 1.3em;
	font-weight: bold;
	grid-area: info;
	padding: 5px;
	margin-left: 40%;
	margin-right: 5%;
	animation: pulse 3s infinite;
}

.miscInfoTitle{

	margin: 0px;
}
@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.6);
	}
	50% {
		box-shadow: 0 0 0 10px rgba(255, 0, 0, 0.1);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(44, 186, 219, 0);
	}
}

.button:hover {
	border-color: dodgerBlue;
	box-shadow: 0 0 8px 0 dodgerBlue;
}

.button0 {
	background-color: #0E94E8;
	border-radius: 25px;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.button1 {
	background-color: #a23939;
	border-radius: 25px;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.button2 {
	background-color: #0d2d36;
	border-radius: 25px;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.button-sm {
	padding: 5px 5px;
}

footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	grid-area: foot;
	font-size: 1.3em;
	background-color: #0E94E8;
}

footer div:last-child {
	margin-left: auto;
}

img {
	padding: 5px 5px;
	max-width: 100%;
}

.smLogo {
	display: block;
	max-width: 50px;
	max-height: 50px;
	width: auto;
	height: auto;
}

.references {
	font-size: 0.5em;
}

/* index page styling */
/**********************/

#imageCarousel {
	grid-area: crsl;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: no-wrap;
}

.carouselPic {
	max-width: 85%;
	height: 500px;
}
.display-right {
	margin-left: auto;
}
.display-left {
	margin-right: auto;
}

#specialEventsTitle {
	display: flex;
	flex-direction: row;
	align-items: right;
	flex-wrap: no-wrap;

	background-color: #55B2EC;
	color: white;
	grid-area: spct;
	padding: 5px;
	margin-bottom: -10px;
}

#specialEvents {
	background-color: #55B2EC;
	color: white;
	grid-area: spcl;
	padding: 5px;
}

#specialEvents a {
	color: white;
	text-decoration: underline;
}

#buyTickets {
	justify-self: left;
	grid-area: bttn;
}

#bookAccommodation {
	justify-self: right;
	grid-area: bttn;
}

#annualPass {

	display: flex;
	flex-direction: row;
	align-items: right;
	flex-wrap: no-wrap;

	background-color: #55B2EC;
	color: white;
	grid-area: pass;
	padding: 5px;
	max-width: 100%;
}

#annualPass img {
	margin-left: 200px;
}

#socialMediaPhotos {
	background-color: #55B2EC;
	color: white;
	grid-area: smph;
	padding: 5px;
}

.smPic {
	max-height: 300px;
	max-width: auto;
}

.icon {
	fill: white;
	max-height: 175px;
	max-width: auto;
}

/* attractions page styling */
/****************************/

#attractions {
	grid-area: atrs;
	text-align: center;
}
.attraction {
	background-color: lavender;
	text-align: left;
	grid-area: attr;
	margin: 1em 0.5em;
	font-size: 18px;
	display: inline-block;
	height: 10em;
	float: left;
	padding: 1em;
	line-height: 1.5em;
}

#attractionsFilter {
	grid-area: atfl;
	text-align: center;
	background-color: #55B2EC;
	color: #f2f2f2;
	height: 3em;
}
#attractionsFilter .filter {
	width: 30%;
	display: inline-block;
	line-height: 3em;
}

.attraction {
	width: 23%;
}

/* accommodation page styling */
/****************************/

.bookingHeader {
	grid-area: bhdr;
	background-color: #55B2EC;
	color: white;
	padding: 5px;
}

.accommodationListings {
	grid-area: accm;
	/* background-color: #55B2EC; */
	color: white;
	padding: 5px;
}

.accommodation {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	background-color: #55B2EC;
	padding: 5px;
	margin: 5px;
}

.accommodationPrice {
	margin-left: auto;
	padding: 5px;
	text-align: center;
}

.hotelPic {
	max-width: 300px;
	max-height: 300px;
	width: auto;
	height: auto;
}

.bookingHeader .header,
.bookingHeader .filters,
.bookingHeader .filters .filter .filter-label,
.bookingHeader .filters .filter .filter-input {
	display: inline-block;
	vertical-align: middle;
}
.bookingHeader .filters .filter {
	display: inline-block;
	margin-right: 2em;
	padding: 0 2em;
}
.bookingHeader .filters .filter .filter-header {
	padding: 1em;
	border-bottom: 2px solid lightgray;
}
.bookingHeader .filters .filter .filter-label label,
.bookingHeader .filters .filter .filter-input input {
	display: block;
	line-height: 3em;
	padding: 0 1em;
}

/* grids */
/*********/

.grid-container-index {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas:
		'navi navi navi'
		'info info info'
		'crsl crsl crsl'
		'.... bttn ....'
		'spct pass pass'
		'spcl smph smph'
		'foot foot foot';
	grid-gap: 10px 10px;
	padding: 10px;
	background-color: white;
}
.grid-container-attractions {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas:
		'navi navi navi'
		'info info info'
		'atfl atfl bttn'
		'atrs atrs atrs'
		'foot foot foot';
	grid-gap: 10px 10px;
	padding: 10px;
	background-color: white;
}

.grid-container-accommodation {
	display: grid;
	grid-template-columns: 1fr 6fr 1fr;
	grid-template-areas:
		'navi navi navi'
		'info info info'
		'bhdr bhdr bhdr'
		'.... accm ....'
		'foot foot foot';
	grid-gap: 10px 10px;
	padding: 10px;
	background-color: white;
}
