* {
	box-sizing: border-box;

	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	}
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
  }

/*temp code to see containers 
* {
	border: 2px dashed whitesmoke;	
}
end temp code to see containers */

.grid-container-index {
	background-image: url("../img/splash-water.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

header {
	grid-area: hddr;
}

#logo {
	max-width: 100%;
	width=100;
	height: auto;
}

nav {
	justify-self: center;
	font-size: 1.3em;
	grid-area: navi;
	overflow: hidden;
	background-color: #38ADCE;
	height: 40%;
}

nav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }

nav a:hover {
	background-color: #2A8DA9;
	color: black;
  }
  
nav a.active {
	background-color: #0169A4;
	color: white;
  }

#searchBar {
	grid-area: srch;
}

#searchIcon {
	max-width: 4%;
	height: auto;
}

#language {
	justify-self: start;
	grid-area: lang;
}

#miscInfo {
	margin: 20px 30px;
	background-color: #0169A4;
	color: white;
	border: 3px solid #38ADCE;
	font-size: 1.25em;
	font-weight: bold;
	grid-area: info;
}

#imageCarousel {
	grid-area: crsl;
}

#imageCarousel .swiper-container {
	width: 100%; 
	height: 400px;
	}

#specialEvents {
	background-color: #0169A4;
	color: white;
	grid-area: spcl;
}

#buyTickets {
	justify-self: center;
	grid-area: tckt;
}

#bookAccommodation {
	justify-self: center;
	grid-area: accm;
}

#annualPass {
	background-color: #0169A4;
	color: white;
	justify-self: center;
	grid-area: pass;
}

#socialMediaPhotos {
	background-color: #0169A4;
	color: white;
		grid-area: smph;
}

.smPic {
	padding: 5px 5px;
}

.button {
	background-color: #0169A4;
	border-radius: 25px;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
  }

footer {
	justify-self: center;
	font-size: 1.3em;
	grid-area: foot;
	overflow: hidden;
	background-color: #38ADCE;
	height: 80%;
}

footer a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }

  footer a:hover {
	background-color: #2A8DA9;
	color: black;
  }
  
  footer a.active {
	background-color: #0169A4;
	color: white;
  }

/* Define layout for: MOBILE */
@media only screen and (max-width: 400px)
{
	.grid-container-index {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-areas:
			'hddr hddr hddr xxxx xxxx xxxx xxxx xxxx xxxx xxxx srch srch'
			'hddr hddr hddr xxxx xxxx xxxx xxxx xxxx xxxx xxxx yyyy yyyy'
			'hddr hddr hddr xxxx xxxx xxxx xxxx xxxx xxxx xxxx yyyy yyyy'
			'navi navi navi navi navi navi navi navi navi navi lang lang'
			'info info info info info info info info info info info info'
			'crsl crsl crsl crsl crsl crsl crsl crsl crsl crsl crsl crsl'
			'tckt tckt tckt tckt tckt tckt accm accm accm accm accm accm'
			'pass pass pass pass pass pass pass pass pass pass pass pass'
			'spcl spcl spcl spcl spcl spcl spcl spcl spcl spcl spcl spcl'
			'smph smph smph smph smph smph smph smph smph smph smph smph'
			'foot foot foot foot foot foot foot foot foot foot foot foot';
		grid-gap: 3px;
		background-color: white;
	}
}

/* Define layout for: TABLET */
@media only screen and (min-width: 401px) and (max-width: 1280px){
	.grid-container-index {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-areas:
			'hddr hddr navi navi navi navi navi navi navi navi lang lang'
			'hddr hddr xxxx xxxx xxxx xxxx xxxx xxxx xxxx xxxx xxxx xxxx'
			'info info info info info info info info info info srch srch'
			'crsl crsl crsl crsl crsl crsl crsl crsl crsl crsl crsl crsl'
			'spcl spcl spcl spcl tckt tckt tckt tckt accm accm accm accm'
			'spcl spcl spcl spcl pass pass pass pass pass pass pass pass'
			'spcl spcl spcl spcl smph smph smph smph smph smph smph smph'
			'foot foot foot foot foot foot foot foot foot foot foot foot';
		grid-gap: 5px;
		background-color: white;
	}
}

/* Define layout for: DESKTOP */
@media only screen and (min-width: 1281px) {
	.grid-container-index {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-areas:
			'hddr navi navi navi navi navi navi navi navi navi lang lang'
			'info info info info info info info info info info srch srch'
			'crsl crsl crsl crsl crsl crsl crsl crsl crsl crsl crsl crsl'
			'spcl spcl spcl spcl tckt tckt tckt tckt accm accm accm accm'
			'spcl spcl spcl spcl pass pass pass pass pass pass pass pass'
			'spcl spcl spcl spcl smph smph smph smph smph smph smph smph'
			'foot foot foot foot foot foot foot foot foot foot foot foot';
		grid-gap: 10px;
		background-color: white;
	}