* {
	box-sizing: border-box;

	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	}
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
  }


/*temp code to see containers
* {
	border: 2px dashed whitesmoke;	
}
end temp code to see containers */

.grid-container-index {
	background-image: url("../img/splash-water.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

header {
	grid-area: hddr;
}

#logo {
	max-width: 100%;
	height: auto;
}

nav{
	grid-area: navi;
}
.bar {
	font-size: 1.3em;
	background-color: #38ADCE;
}

.bar a {
	float: left;
	color: white;
	padding: 16px 16px;
	text-decoration: none;
	outline: solid 0px white;  }

.bar a:hover {
	background-color: #2A8DA9;
	color: black;
	outline-width: 1px;
  }
  
.bar a.active {
	background-color: midnightblue;
	color: white;
  }



#searchBar {
	grid-area: srch;
    padding:0 0 0 20px;
    margin:0 20px;
    background:#ddd;
    direction: rtl;
    width: 200px;
}
#searchBox {
    height:20px;
    margin:0;
    padding-right: 30px;
    width: 100%;
}
#searchIcon {
    position:absolute;
    bottom:2px;
    right:5px;
    width:24px;
    height:24px;
}


#language {
	justify-self: start;
	grid-area: lang;
}

#miscInfo {
	background-color: midnightblue;
	color: white;
	border: 3px solid red;
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
	grid-area: info;
}

#imageCarousel {
	grid-area: crsl;
}

#imageCarousel .swiper-container {
	width: 100%; 
	height: 600px;
	}

#specialEvents {
	background-color: midnightblue;
	color: white;
	grid-area: spcl;
}

#buyTickets {
	justify-self: center;
	grid-area: tckt;
}

#bookAccommodation {
	justify-self: center;
	grid-area: accm;
}

#annualPass {
	background-color: midnightblue;
	color: white;
	grid-area: pass;
}

#socialMediaPhotos {
	background-color: midnightblue;
	color: white;
		grid-area: smph;
}

.smPic {
	padding: 5px 5px;
}

.button {
	background-color: midnightblue;
	border-radius: 25px;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
  }

footer {
	grid-area: foot;
}


/* Define layout for: MOBILE */
@media only screen and (max-width: 400px)
{
	.grid-container-index {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-areas:
			'hddr hddr hddr .    .    .    .    .    .    .    srch srch'
			'hddr hddr hddr .    .    .    .    .    .    .    .    .   '
			'hddr hddr hddr .    .    .    .    .    .    .    .    .   '
			'navi navi navi navi navi navi navi navi navi navi lang lang'
			'info info info info info info info info info info info info'
			'crsl crsl crsl crsl crsl crsl crsl crsl crsl crsl crsl crsl'
			'tckt tckt tckt tckt tckt tckt accm accm accm accm accm accm'
			'pass pass pass pass pass pass pass pass pass pass pass pass'
			'spcl spcl spcl spcl spcl spcl spcl spcl spcl spcl spcl spcl'
			'smph smph smph smph smph smph smph smph smph smph smph smph'
			'foot foot foot foot foot foot foot foot foot foot foot foot';
		grid-gap: 10px 15px;
		background-color: white;
	}
}

/* Define layout for: TABLET */
@media only screen and (min-width: 401px) and (max-width: 1280px){
	.grid-container-index {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-areas:
			'hddr hddr navi navi navi navi navi navi navi navi lang lang'
			'hddr hddr .    .    .    .    .    .    .    .    .    .   '
			'info info info info info info info info info info srch srch'
			'crsl crsl crsl crsl crsl crsl crsl crsl crsl crsl crsl crsl'
			'.    .    .    .    tckt tckt tckt tckt accm accm accm accm'
			'spcl spcl spcl spcl pass pass pass pass pass pass pass pass'
			'spcl spcl spcl spcl smph smph smph smph smph smph smph smph'
			'foot foot foot foot foot foot foot foot foot foot foot foot';
		grid-gap: 20px 50px;
		background-color: white;
	}
}

/* Define layout for: DESKTOP */
@media only screen and (min-width: 1281px) {
	.grid-container-index {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-areas:
			'hddr hddr navi navi navi navi navi navi navi navi lang lang'
			'hddr hddr info info info info info info info info srch srch'
			'crsl crsl crsl crsl crsl crsl crsl crsl crsl crsl crsl crsl'
			'spcl spcl spcl spcl tckt tckt tckt tckt accm accm accm accm'
			'spcl spcl spcl spcl pass pass pass pass pass pass pass pass'
			'spcl spcl spcl spcl smph smph smph smph smph smph smph smph'
			'foot foot foot foot foot foot foot foot foot foot foot foot';
		grid-gap: 30px 75px;
		background-color: white;
	}
}