* {
	box-sizing: border-box;

	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
  }


/*temp code to see containers
* {
	border: 2px dashed whitesmoke;	
}
end temp code to see containers */

.grid-container-index {
	background-image: url("../img/splash-water.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.grid-container-attractions {
	background-image: url("../img/splash-water.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

header {
	grid-area: hddr;
}

#logo {
	max-width: 100%;
	height: auto;
}

nav{
	grid-area: navi;
}
.bar {
	font-size: 1.3em;
	background-color: #38ADCE;
}

.bar a {
	float: left;
	color: white;
	padding: 16px 16px;
	text-decoration: none;
	outline: solid 0px white;  }

.bar a:hover {
	background-color: #2A8DA9;
	color: black;
	outline-width: 1px;
  }
  
.bar a.active {
	background-color: midnightblue;
	color: white;
  }



#searchBar {
	align-self: center;
	grid-area: srch;
    padding:0 0 0 20px;
    margin:0 20px;
    background:#ddd;
    direction: rtl;
    width: 200px;
}
#searchBox {
    height:20px;
    margin:0;
    padding-right: 30px;
    width: 100%;
}
#searchIcon {
    position:absolute;
    bottom:2px;
    right:5px;
    width:24px;
    height:24px;
}


#language {
	justify-self: start;
	grid-area: lang;
}

#miscInfo {
	background-color: midnightblue;
	color: white;
	border: 3px solid red;
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
	grid-area: info;
}

#imageCarousel {
	grid-area: crsl;
}

#imageCarousel .swiper-container {
	width: 100%; 
	height: 600px;
	}

#specialEvents {
	background-color: midnightblue;
	color: white;
	grid-area: spcl;
}

#buyTickets {
	justify-self: center;
	grid-area: tckt;
}

#bookAccommodation {
	justify-self: center;
	grid-area: accm;
}

#annualPass {
	background-color: midnightblue;
	color: white;
	grid-area: pass;
}

#socialMediaPhotos {
	background-color: midnightblue;
	color: white;
		grid-area: smph;
}

#attractionsFilter {
	grid-area: atfl;
}

#attractions {
	grid-area: atrs;
	text-align: center;
}
.attraction {
	background-color: lavender;
	text-align: left;
	grid-area: attr;
	margin: 1em .5em;
	font-size: 18px;
	display: inline-block;
	height: 10em;
	float: left;
	padding: 1em;
	line-height: 1.5em;
}

#attractionsFilter {
	text-align: center;
	background-color: midnightblue;
	color: #f2f2f2;
	height: 3em;
}
#attractionsFilter .filter {
	width: 30%;
	display: inline-block;
	line-height: 3em;
}

.smPic {
	padding: 5px 5px;
}

.button {
	background-color: midnightblue;
	border-radius: 25px;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
  }

footer {
	grid-area: foot;

}

/* Define Index layout for: DESKTOP */
@media only screen and (min-width: 1281px) {
	.grid-container-index {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-areas:
			'hddr hddr navi navi navi navi navi navi navi navi lang lang'
			'hddr hddr info info info info info info info info srch srch'
			'crsl crsl crsl crsl crsl crsl crsl crsl crsl crsl crsl crsl'
			'spcl spcl spcl spcl tckt tckt tckt tckt accm accm accm accm'
			'spcl spcl spcl spcl pass pass pass pass pass pass pass pass'
			'spcl spcl spcl spcl smph smph smph smph smph smph smph smph'
			'foot foot foot foot foot foot foot foot foot foot foot foot';
		grid-gap: 30px 75px;
		background-color: white;
	}
}

/* Define Attractions Page layout for: DESKTOP */
@media only screen and (min-width: 1281px) {
	.grid-container-attractions {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-areas:
			'hddr hddr navi navi navi navi navi navi navi navi lang lang'
			'hddr hddr info info info info info info info info srch srch'
			'atfl atfl atfl atfl atfl atfl atfl atfl atfl tckt tckt .   '
			'atrs atrs atrs atrs atrs atrs atrs atrs atrs atrs atrs atrs'
			'foot foot foot foot foot foot foot foot foot foot foot foot';
		grid-gap: 30px 75px;
		background-color: white;
	}
	.attraction {
		width: 23%;
	}
}
